In [253]:
import pandas as pd
from deltalake import DeltaTable
import numpy as np

In [254]:
dt = DeltaTable("../data_warehouse/gold/events")
df = dt.to_pandas()

In [255]:
test_df = df
test_df["timestamp_long"] = df["timestamp"].values.astype(np.int64)

In [256]:
df.shape

(523, 10)

In [257]:
test_df["user_session_id"].drop_duplicates().shape

(500,)

In [258]:
num_of_source_files_df = test_df.groupby(["user_session_id"]).nunique("_ingest_date").reset_index()[["user_session_id", "_ingest_date"]].sort_values("_ingest_date", ascending=False).rename(columns={"_ingest_date":"num_of_source_files"})

In [259]:
num_of_source_files_df

                                       user_session_id  num_of_source_files
0    02d20bbd7e394ad5999a4cebabac9619732c343a4cac99...                    1
1    02d20bbd7e394ad5999a4cebabac9619732c343a4cac99...                    1
2    02d20bbd7e394ad5999a4cebabac9619732c343a4cac99...                    1
3    02d20bbd7e394ad5999a4cebabac9619732c343a4cac99...                    1
4    02d20bbd7e394ad5999a4cebabac9619732c343a4cac99...                    1
..                                                 ...                  ...
495  ff5a1ae012afa5d4c889c50ad427aaf545d31a4fac04ff...                    1
496  ff5a1ae012afa5d4c889c50ad427aaf545d31a4fac04ff...                    1
497  ff5a1ae012afa5d4c889c50ad427aaf545d31a4fac04ff...                    1
498  ff5a1ae012afa5d4c889c50ad427aaf545d31a4fac04ff...                    1
499  ff5a1ae012afa5d4c889c50ad427aaf545d31a4fac04ff...                    1

[500 rows x 2 columns]

In [260]:
test_df[test_df["user_session_id"]=="35135aaa6cc23891b40cb3f378c53a17a1127210ce60e125ccf03efcfdaec458#PC#1753706482"]

,user_id,event_id,timestamp,product_code,date,user_session_id,_source_file,_ingest_ts,_ingest_date,timestamp_long
12,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,b,2025-07-28 12:41:22,PC,2025-07-28,35135aaa6cc23891b40cb3f378c53a17a1127210ce60e1...,file:///opt/source_data/events/batch_2025-07-3...,2025-07-31 00:00:00+00:00,2025-07-31,1753706482000000

In [261]:
df[["user_id", "event_id", "timestamp", "product_code"]].drop_duplicates().shape

(523, 4)

In [262]:
df

,user_id,event_id,timestamp,product_code,date,user_session_id,_source_file,_ingest_ts,_ingest_date,timestamp_long
0,031b4af5197ec30a926f48cf40e11a7dbc470048a21e40...,c,2025-07-28 12:23:03,PC,2025-07-28,031b4af5197ec30a926f48cf40e11a7dbc470048a21e40...,file:///opt/source_data/events/batch_2025-07-3...,2025-07-31 00:00:00+00:00,2025-07-31,1753705383000000
1,0e17daca5f3e175f448bacace3bc0da47d0655a74c8dd0...,b,2025-07-28 12:10:40,PC,2025-07-28,0e17daca5f3e175f448bacace3bc0da47d0655a74c8dd0...,file:///opt/source_data/events/batch_2025-07-3...,2025-07-31 00:00:00+00:00,2025-07-31,1753704640000000
2,19581e27de7ced00ff1ce50b2047e7a567c76b1cbaebab...,b,2025-07-28 12:01:02,IJ,2025-07-28,19581e27de7ced00ff1ce50b2047e7a567c76b1cbaebab...,file:///opt/source_data/events/batch_2025-07-3...,2025-07-31 00:00:00+00:00,2025-07-31,1753704062000000
3,1a6562590ef19d1045d06c4055742d38288e9e6dcd71cc...,a,2025-07-28 12:28:39,VS,2025-07-28,1a6562590ef19d1045d06c4055742d38288e9e6dcd71cc...,file:///opt/source_data/events/batch_2025-07-3...,2025-07-31 00:00:00+00:00,2025-07-31,1753705719000000
4,1da51b8d8ff98f6a48f80ae79fe3ca6c26e1abb7b7d125...,c,2025-07-28 12:05:53,IJ,2025-07-28,1da51b8d8ff98f6a48f80ae79fe3ca6c26e1abb7b7d125...,file:///opt/source_data/events/batch_2025-07-3...,2025-07-31 00:00:00+00:00,2025-07-31,1753704353000000
...,...,...,...,...,...,...,...,...,...,...
518,f5ca38f748a1d6eaf726b8a42fb575c3c71f1864a81433...,c,2025-07-31 12:08:36,VS,2025-07-31,f5ca38f748a1d6eaf726b8a42fb575c3c71f1864a81433...,file:///opt/source_data/events/batch_2025-07-3...,2025-07-31 00:00:00+00:00,2025-07-31,1753963716000000
519,f74efabef12ea619e30b79bddef89cffa9dda494761681...,b,2025-07-31 12:37:00,IJ,2025-07-31,f74efabef12ea619e30b79bddef89cffa9dda494761681...,file:///opt/source_data/events/batch_2025-07-3...,2025-07-31 00:00:00+00:00,2025-07-31,1753965420000000
520,f74efabef12ea619e30b79bddef89cffa9dda494761681...,b,2025-07-31 12:09:52,PC,2025-07-31,f74efabef12ea619e30b79bddef89cffa9dda494761681...,file:///opt/source_data/events/batch_2025-07-3...,2025-07-31 00:00:00+00:00,2025-07-31,1753963792000000
521,ff5a1ae012afa5d4c889c50ad427aaf545d31a4fac04ff...,c,2025-07-31 12:36:55,IJ,2025-07-31,ff5a1ae012afa5d4c889c50ad427aaf545d31a4fac04ff...,file:///opt/source_data/events/batch_2025-07-3...,2025-07-31 00:00:00+00:00,2025-07-31,1753965415000000
522,ff5a1ae012afa5d4c889c50ad427aaf545d31a4fac04ff...,b,2025-07-31 12:05:12,VS,2025-07-31,ff5a1ae012afa5d4c889c50ad427aaf545d31a4fac04ff...,file:///opt/source_data/events/batch_2025-07-3...,2025-07-31 00:00:00+00:00,2025-07-31,1753963512000000